
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body{
    background-color: #f5ffff;
    margin: 0;
}

.final{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #A9D4DD;
}

.cabeza{
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.photo{
    width: 15%;
    margin-left: 10%;
}

.img{
    width: 100%;
    border-radius: 12rem;
    padding: 10%;
}

.nombre{
    font-size: large;
    position: relative;
    left: 20%;
    margin-top: 8%;
    transform: translate(-20%,-15%);
}

.contenido{
    color: rgb(46, 41, 41);
    font-size: larger;
    text-align: center;
    justify-content: center;
}

/*
div div h1{
}

div div p{
    margin-left: 20%;
    font-size: large;
}*/

.cuerpo{
    margin: 0%;
    width: 100%;
    height: auto;
    display: flex;
}

.info{
    width: 40%;
    background-color: #E2F4F7;
    padding: 1.5rem;
}

.descripcion{
    padding: 2em;
    background-color: #CFEAEE;
}

h4{
    padding: 5px;
}

.contacto{
    margin-bottom: 2rem;
}

.habilidades{
    margin-bottom: 2rem;
}

h5{
    padding: 4px;
}

.Educacion{
    margin-bottom: 2rem;
}

.Primero{
    margin-bottom: 1.5rem;
}

.Segundo{
    margin-bottom: 1.5rem;
}